<ion-tabs>
  <ion-tab-bar slot="bottom" color="danger">
    <ion-tab-button tab="inicio">
      <ion-icon name="home-sharp"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="categoria">
      <ion-icon name="videocam-sharp"></ion-icon>
      <ion-label>Categories</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="buscador">
      <ion-icon name="search-sharp"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>


