<app-header></app-header>
@defer (when displayedSeries) {
  <ion-content>
    <ion-list class="ion-margin">

      <ion-searchbar mode="ios" animated="true" (ionInput)="search( $event)"></ion-searchbar>
      @for (i of displayedSeries ; track i) {
        <ion-item routerLink="/tabs/detalle/{{i._id}}">
          <ion-avatar>
            <ion-img src="{{i.images[1]}}"></ion-img>
          </ion-avatar>
          <ion-label class="ion-margin">
            <strong>{{ i.title }}</strong>

            <ion-label >
              {{ i.synopsis.length>50?(i.synopsis |slice:0:49)+"...":i.synopsis }}
            </ion-label>
          </ion-label>

        </ion-item>
      }

    </ion-list>

    <ion-infinite-scroll threshold="150px" (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
} @placeholder () {
  <div class="d-flex justify-content-center">
    <div class="spinner-border text-danger" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
}
